<% provide(:weddingparty, "active") %>

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>Wedding Party <small> -A Tale of Some Very Weird People</small></h1> </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("ryan.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Ryan Chesterton</h2>
        <p>Ryan is Eric's brother. That is why he is here.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("nick.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Nick Reynolds</h2>
        <p>Because of similarities in height, college graduating class, and interest in running, friendship was thrust upon Nick and Eric. That, more or less, is why he is here.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("mike.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Mike Romano</h2>
        <p>Mike played in a band with Eric in high school. He gives good speeches. Those are the reasons he is here.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("carolyn.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Carolyn Warner</h2>
        <p>Carolyn is Sharon's sister. That is why she is here.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("keith.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Keith Warner</h2>
        <p>Keith is Sharon's brother. That is why he is here.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("elizabeth.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Elizabeth Warner</h2>
        <p>Elizabeth is Sharon's sister. That is why she is here.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("flora.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Flora Berklein</h2>
        <p>Flora ran similar distances as Sharon at Haverford. She is just as weird as Sharon. Those, among others, are the reasons she is here.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("jesse.png", :alt => "cover photo", :class => "img-circle weddingparty") %>
        <h2>Jesse Ingber</h2>
        <p>Jesse lived on the same floor as Sharon during their freshman year at Haverford. They became friends, apparently. That is why he is here.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div> <!-- /container -->