<!DOCTYPE html>
<html>
<head>
  <title>A Quite Nice Wedding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="author" content="Sharon Warner">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>

<%= render 'shared/navbar' %>
<div class="main-page-content <%= controller.controller_name %>">
<%= yield %>
</div> 

</body>
</html>
